@model IEnumerable<NewProject1Crud.Models.ItemsData>
@{
    ViewData["Title"] = "Index";
}

    <div class="card" style="width: 18rem;">
        <img src=".." class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Item Name</h5>
            <div class="row">
                <div class="col-2"><lable class="card-columns">MRP</lable> </div>
                <div class="col-2"> <h6 class="card-title">ItmePrice</h6></div>
            </div>
                <p class="card-text">Decription</p>
                <a href="#" class="btn btn-primary">Buy Now</a>
            
        </div>
        </div>